<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Book cab</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="contain">
    <img src="https://www.yeti.com/on/demandware.static/-/Library-Sites-SiteGenesisSharedLibrary/default/dw88b76aca/images/staticPages/contact-us-banner-1680x500.jpg" alt="Contact Us Page" style="width:100%;">
    <div class="centered">
      <h1 style=font-size:60px>CONTACT US</h1>
      <p>
        <h3>While we're good with smoke signals, there are simpler ways for us to get in touch and answer your questions.
        </h3>
      </p>
    </div>
  </div>

  <br><br><br><br><br>
  <center>
    <h1 class="reduce_gap" style=font-size:40px> WANT TO REACH OUT</h1>
    <h1 class="reduce_gap" style=font-size:40px> TO US ? </h1>
    <br>
    <div class="boxed">
      <a href="mailto:askquery_bookcab567@gmail.com">SEND US AN EMAIL</a>
    </div>
  </center>
  <br><br><br><br><br>
  <hr class="hline">
  <br><br><br><br>


  <div class="contact-us-page__footer-item">
    <p>
      <strong>Customer Service Team</strong>
    </p>
    <p>
      <strong>1-512-394-9384</strong>
    </p>
    <p>Monday – Friday</p>
    <p>7:00AM – 3:00PM CT</p>
    <p>
      <b>
        <a href="https://yeti.formstack.com/forms/contactus?_ga=2.160417853.1486690747.1552917355-1615302747.1548081829" target="_blank">Email Us</a>
      </b>
    </p>
  </div>


  <div class="contact-us-page__footer-item">
    <p>
      <strong>Corporate Office</strong>
    </p>
    <p>7601 Southwest Parkway</p>
    <p>Austin, TX 78735</p>
  </div>


  <div class="contact-us-page__footer-item">
    <p>
      <strong>Flagship Store</strong>
    </p>
    <p>220 S. Congress Avenue</p>
    <p>Austin, TX 78704</p>
    <p>1-512-640-7249</p>
    <p>
      <b>
        <a href="https://www.yeti.com/en_US/flagship.html">More information</a>
      </b>
    </p>
  </div>
  <div class="reduce_gap"
    <center>
      <p>
        <strong>
          <h3>Connect With Us</h3>
        </strong>
      </p>
      <img src="facebook.png" height="48" width="48" title="Developer's facebook" alt="Developer's facebook">
      &nbsp;
      &nbsp;
      &nbsp;
      <img src="linkedin.png" height="48" width="48" title="Developer's linkedin" alt="Developer's Linkedin">
    </center>
  </div>

</body>

</html>
