<%- include("header"); -%>
<form class="" action="/stop" method="POST">
  <div class="form-group">
    <label>Ambulance ID</label>
    <input class="form-control" type="number" name="driverid" placeholder="ID"><br>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Submit</button>
</form>
<%- include("footer"); -%>
